<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="register.title">Registration</h1>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="login" jhiTranslate="global.form.taxId">CUIT</label>
                            <input type="text" class="form-control" [(ngModel)]="registerAccount.taxId" id="login" name="taxId" #taxId="ngModel" placeholder="{{'global.form.taxId.placeholder' | translate}}"
                                   required minlength="1" maxlength="50">
                            <div *ngIf="taxId.dirty && taxId.invalid">
                                <small class="form-text text-danger" *ngIf="taxId.errors.required" jhiTranslate="register.messages.validate.taxId.required">
                                    The tax id is required
                                </small>
                                <small class="form-text text-danger" *ngIf="taxId.errors.minlength"
                                       jhiTranslate="register.messages.validate.login.minlength">
                                    Your username is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger" *ngIf="taxId.errors.maxlength"
                                       jhiTranslate="register.messages.validate.login.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                                   [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                            <div *ngIf="email.dirty && email.invalid">
                                <small class="form-text text-danger" *ngIf="email.errors.required"
                                       jhiTranslate="global.messages.validate.email.required">
                                    Your email is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.invalid"
                                       jhiTranslate="global.messages.validate.email.invalid">
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.minlength"
                                       jhiTranslate="global.messages.validate.email.minlength">
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                                       jhiTranslate="global.messages.validate.email.maxlength">
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="login" jhiTranslate="global.form.taxName">Razon social</label>
                            <input type="text" class="form-control" [(ngModel)]="registerAccount.taxName" id="taxName" name="taxName" #taxName="ngModel" placeholder="{{'global.form.taxName.placeholder' | translate}}"
                                   required minlength="1" maxlength="50">
                            <div *ngIf="taxName.dirty && taxName.invalid">
                                <small class="form-text text-danger" *ngIf="taxName.errors.required" jhiTranslate="register.messages.validate.taxName.required">
                                    The tax id is required
                                </small>
                                <small class="form-text text-danger" *ngIf="taxName.errors.minlength"
                                       jhiTranslate="register.messages.validate.login.minlength">
                                    Your username is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger" *ngIf="taxName.errors.maxlength"
                                       jhiTranslate="register.messages.validate.login.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="login" jhiTranslate="global.form.name">Nombre fantasia</label>
                            <input type="text" class="form-control" [(ngModel)]="registerAccount.name" id="name" name="taxName" #name="ngModel" placeholder="{{'global.form.name.placeholder' | translate}}"
                                   required minlength="1" maxlength="50">
                            <div *ngIf="name.dirty && name.invalid">
                                <small class="form-text text-danger" *ngIf="name.errors.required" jhiTranslate="register.messages.validate.taxName.required">
                                    The tax id is required
                                </small>
                                <small class="form-text text-danger" *ngIf="name.errors.minlength"
                                       jhiTranslate="register.messages.validate.login.minlength">
                                    Your username is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger" *ngIf="name.errors.maxlength"
                                       jhiTranslate="register.messages.validate.login.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="login" jhiTranslate="global.form.contactName">Nombre</label>
                            <input type="text" class="form-control" [(ngModel)]="registerAccount.name" id="taxName" name="name" #name="ngModel" placeholder="{{'global.form.name.placeholder' | translate}}"
                                   required minlength="1" maxlength="50">
                            <div *ngIf="name.dirty && name.invalid">
                                <small class="form-text text-danger" *ngIf="name.errors.required" jhiTranslate="register.messages.validate.name.required">
                                    The tax id is required
                                </small>
                                <small class="form-text text-danger" *ngIf="name.errors.minlength"
                                       jhiTranslate="register.messages.validate.name.minlength">
                                    Your username is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger" *ngIf="name.errors.maxlength"
                                       jhiTranslate="register.messages.validate.name.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="login" jhiTranslate="global.form.contactLastname">Apellido</label>
                            <input type="text" class="form-control" [(ngModel)]="registerAccount.contactLastname" id="contactLastname" name="contactLastname" #contactLastname="ngModel" placeholder="{{'global.form.contactLastname.placeholder' | translate}}"
                                   required minlength="1" maxlength="50">
                            <div *ngIf="contactLastname.dirty && contactLastname.invalid">
                                <small class="form-text text-danger" *ngIf="contactLastname.errors.required" jhiTranslate="register.messages.validate.name.required">
                                    The tax id is required
                                </small>
                                <small class="form-text text-danger" *ngIf="contactLastname.errors.minlength"
                                       jhiTranslate="register.messages.validate.name.minlength">
                                    Your username is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger" *ngIf="contactLastname.errors.maxlength"
                                       jhiTranslate="register.messages.validate.name.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword">New password</label>
                            <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                   [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                            <div *ngIf="password.dirty && password.invalid">
                                <small class="form-text text-danger" *ngIf="password.errors.required"
                                       jhiTranslate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="password.errors.minlength"
                                       jhiTranslate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                                       jhiTranslate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </small>
                            </div>
                            <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                   [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                            <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                                       jhiTranslate="global.messages.validate.confirmpassword.required">
                                    Your confirmation password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                                       jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                                       jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
                <button type="button" class="btn btn-secondary" routerLink="/" jhiTranslate="register.form.button.cancel">Cancelar</button>
            </form>
        </div>/
    </div>
</div>
