<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="technicalSkill">
            <h2><span jhiTranslate="talentpipeFrontendApp.technicalSkill.detail.title">Technical Skill</span> {{technicalSkill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="talentpipeFrontendApp.technicalSkill.name">Name</span></dt>
                <dd>
                    <span>{{technicalSkill.name}}</span>
                </dd>
                <dt><span jhiTranslate="talentpipeFrontendApp.technicalSkill.description">Description</span></dt>
                <dd>
                    <span>{{technicalSkill.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/technical-skill', technicalSkill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
